@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* VARIABLES */
:root {
	/* NEW COLORS */
	--blue-accent-color: #1e73be;
	--text-default: #555555;
	--text-light: #999999;
	--red-alert: #ed726f;
	--white: #fff;
	--bg-grey-light: #fafafa;
	--stroke-grey: #f4f4f4;
	--stroke-grey-dark: #ececec;
	--hover-project: #e6e6e6;
	--tick-grey: #b7b7b7;
}

/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	max-height: 100vh;
	background-color: var(--white);

	font-family: "Inter", sans-serif;
	color: var(--text-default);
	font-weight: 500;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

button {
	border: none;
	background: none;
}

/* UTILITIES */

.hide {
	display: none !important;
}

.transparency-80 {
	opacity: 80%;
}
.checked-task {
	color: #c6ddec;
	text-decoration: line-through;
}

.checked-task.hover {
	color: #3e92cc;
}

/* NEW UI */

#content {
	display: flex;
	height: 100vh;
}

#menu,
#task-panel,
#main-section {
	min-width: max-content;
	width: 100%;
}

#menu {
	max-width: 387px;
}

#task-panel {
	max-width: 503px;
}

/* ICONS AND BUTTONS*/
i.size-24 {
	font-size: 24px;
}

i.size-21 {
	font-size: 21px;
}

i.size-16 {
	width: 1rem;
	height: 1rem;
}

i.size-12 {
	font-size: 12px;
}

.fa-star:hover {
	color: var(--blue-accent-color);
}

.fa-star:hover,
.is-important {
	color: var(--blue-accent-color);
}

.btn-regular-blue {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
	color: var(--blue-accent-color);
	border: 2px solid var(--blue-accent-color);
	border-radius: 12px;
	padding: 12px;
}

.btn-regular-blue:hover {
	opacity: 60%;
}

/* MENÚ */
#menu {
	background-color: var(--gr-grey-light);
	border-right: 2px solid var(--stroke-grey);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

.menu-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

#logo {
	width: 30px;
	aspect-ratio: 1;
}

#app-name {
	font-size: 1.125rem;
	font-weight: 800;
	color: var(--blue-accent-color);
}

.project-list-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.project-item-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 8px 12px;
	border-radius: 7px;
}

.project-item-container:hover {
	background-color: var(--hover-project);
}

.project-item-container.selected {
	background-color: var(--blue-accent-color);
	color: var(--white);
	font-weight: 700;
}

.title-container {
	display: flex;
	gap: 16px;
	align-items: center;
}

.project-item-title-container {
	display: flex;
	gap: 16px;
	align-self: center;
}

.project-item-counter-container > p {
	padding: 4px 8px;
	background: var(--stroke-grey);
	border-radius: 9px;
	color: var(--text-default);
	font-size: 0.875rem;
	font-weight: 500;
}

.project-list-separator {
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--text-light);
}

/* BUTTONS */

.btn-solid-blue {
	display: flex;
	align-content: center;
	gap: 16px;

	background-color: var(--blue-accent-color);
	color: var(--white);
	padding: 12px;
	border-radius: 7px;
	font-weight: 700;
}

#btn-save,
#btn-delete {
	padding: 12px 32px;
}

#btn-delete {
	color: var(--red-alert);
	font-weight: 600;
	text-decoration: underline;
}

/* TASK PANEL */
#task-panel {
	display: flex;
	flex-direction: column;
	gap: 16px;

	padding: 40px 12px;
	background-color: var(--bg-grey-light);
	border-left: 2px solid var(--stroke-grey);
}

#btn-close-panel {
	margin-left: auto;
}
#btn-close-panel:hover {
	opacity: 50%;
}

#task-info-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.task-panel-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* Task title and steps */
.task-steps-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 8px 16px;
	background-color: var(--white);
	border: 1px solid var(--stroke-grey-dark);
	border-radius: 6px;
}

.task-panel-title-container {
	display: flex;
	gap: 16px;
	padding: 8px 0;

	font-size: 1.3rem;
	font-weight: 600;
}

.task-panel-title-container > i {
	color: var(--tick-grey);
}

.task-step-container {
	display: flex;
	gap: 8px;
	padding: 8px;

	color: var(--text-light);
	font-size: 0.875rem;
}

.btn-add-step {
	display: flex;
	gap: 16px;

	padding: 8px;
	color: var(--blue-accent-color);
}

/* TASK PANEL */

#task-details-container,
#task-attach-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;

	background-color: var(--white);
	border: 1px solid var(--stroke-grey-dark);
	border-radius: 6px;
}

.task-details-item-container {
	display: flex;
	padding: 8px;
	justify-content: space-between;
	border-radius: 4px;
	cursor: default;
}

.task-details-item-container:hover {
	background-color: var(--stroke-grey);
}

.task-details-info-container {
	display: flex;
	gap: 16px;
}

.task-details-info-container.selected {
	color: var(--blue-accent-color);
}

.separator {
	height: 1px;
	background-color: var(--stroke-grey-dark);
}

textarea#add-note-field {
	resize: none;
	background-color: var(--white);
	border: 1px solid var(--stroke-grey-dark);
	border-radius: 4px;
	padding: 16px;
	color: var(--text-default);

	height: max(146px);
}

textarea::placeholder {
	color: #999999;
}

textarea:focus {
	outline: 1px solid var(--text-light);
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

/* MAIN SECTION - Task list */
#main-section {
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px min(40px);
	max-height: 100vh;
}

.main-section-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	height: 100%;
}

.header-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.title-container {
	padding: 8px;
	font-size: 24px;
	font-weight: 800;
	border-radius: 8px;
}

.title-container:hover {
	background-color: var(--bg-grey-light);
	border: 2px solid var(--stroke-grey);
}

.task-list-container,
.task-group-container,
.task-card-list-container {
	display: flex;
	flex-direction: column;
}

.task-list-container {
	gap: 24px;
}

.task-group-container,
.task-card-list-container {
	gap: 16px;
}

.task-group-name-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.group-counter-container {
	background-color: var(--stroke-grey);
	padding: 4px 8px;
	border-radius: 9px;
	font-size: 0.9rem;
}

.task-card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg-grey-light);
	border: 2px solid var(--stroke-grey);
	border-radius: 12px;

	padding: 16px 24px;
	color: var(--tick-grey);
}

.task-card-container:hover,
.task-card-container[card-selected] {
	border: 2px solid var(--tick-grey);
}

.task-done {
	text-decoration: line-through;
	color: var(--text-light);
}

.task-info-container {
	display: flex;
	gap: 16px;
	padding: 12 0;
}

.task-title-container {
	display: flex;
	flex-direction: column;
	gap: 16px;

	color: var(--text-default);
}

.task-details-container {
	display: flex;
	gap: 8px;
}

.detailContainer {
	display: flex;
	align-items: center;
	gap: 6px;

	color: var(--text-light);
}

.detailContainer > p {
	font-size: 12px;
}

.task-details-separator {
	height: 100%;
	border-right: 1px solid var(--text-light);
}
