@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* VARIABLES */
:root {
	--bg-main-color: #c6ddec;
	--bg-task-color: #ffffff;
	--accent-color: #3e92cc;
	--text-main-color: #555555;
	--text-accent-color: #fff;
	--hover-color: #edf1f5;

	/* LABELS */
	--bg-labelHigh-color: #f2a6a6;
	--text-labelHigh-color: #f8e7e7;
	--bg-labelMedium-color: #ffeecc;
	--text-labelMedium-color: #ffa800;
	--bg-labelLow-color: #a4cba6;
	--text-labelLow-color: #3e7441;
	--bg-labelDisabled-color: #edf1f5;
	--text-labelDisabled-color: #999999;
}

/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	max-height: 100vh;
	background-color: var(--bg-main-color);
	background-color: #fcfcfc;

	font-family: "Inter", sans-serif;
	color: var(--text-main-color);
	font-weight: 500;
	letter-spacing: 0.015em;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* UTILITIES */

.hide {
	display: none !important;
}

.transparency-80 {
	opacity: 80%;
}
.checked-task {
	color: #c6ddec;
	text-decoration: line-through;
}

.checked-task.hover {
	color: #3e92cc;
}

/* NEW UI */

#content {
	display: flex;
}

#menu {
	min-width: max-content;
	width: 100%;
	max-width: 387px;
}

#main-section {
	width: 100%;
}

#task-panel {
	min-width: max-content;
	width: 100%;
	max-width: 503px;
}

/* ICONS */
#add-project {
	width: 12px;
	height: 12px;
}

/* MENÚ */
#menu {
	background-color: #fafafa;
	border-right: 2px solid #f4f4f4;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

.menu-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

#logo {
	width: 30px;
	aspect-ratio: 1;
}

#app-name {
	font-size: 1.125rem;
	font-weight: 800;
	color: #1e73be;
}

.project-list-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.project-item-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	border-radius: 7px;
	color: #555;
	font-weight: 500;
}

.project-item-container:hover {
	background-color: #e6e6e6;
}

.project-item-container.selected {
	background-color: #1e73be;
	color: #ffffff;
	font-weight: 700;
}

.title-container,
.project-item-title-container {
	display: flex;
	gap: 16px;
	align-items: center;
}

.project-item-counter-container > p {
	padding: 4px 8px;
	background: #f4f4f4;
	border-radius: 9px;
	color: #555;
	font-size: 0.875rem;
	font-weight: 500;
}

.project-list-separator {
	font-size: 0.875rem;
	font-weight: 700;
	color: #999;
}

/* BUTTONS */

.btn-solid-blue {
	display: flex;
	gap: 16px;

	background-color: #1e73be;
	color: #fff;
	padding: 12px;
	border: none;
	border-radius: 7px;

	font-size: 1rem;
	font-weight: 700;
}

.btn-solid-blue#btn-save {
	padding: 12px 32px;
}

#btn-delete {
	border: none;
	background: none;
	color: #ed726f;
	padding: 12px 32px;
	font-weight: 600;
	text-decoration: underline;
}

/* TASK PANEL */
#task-panel {
	padding: 40px 1.5rem;
	background-color: #fafafa;
	border-left: 2px solid #f4f4f4;
}

#btn-close-panel {
	text-align: right;
	padding-bottom: 16px;
}

#task-info-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.task-steps-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 8px 16px;
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 6px;
}

.task-title-container {
	display: flex;
	gap: 16px;
	padding: 8px 0;

	font-size: 1.3rem;
	font-weight: 600;
}

.sub-task-container {
	display: flex;
	gap: 8px;
	padding: 8px;

	color: #999999;
	font-size: 0.875rem;
	font-weight: 500;
}

.btn-add-step {
	display: flex;
	gap: 16px;

	padding: 8px;
	color: #1e73be;

	background: none;
	border: none;
}

/* Task details */

.task-panel-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
	padding-bottom: 40px;
}

#task-details-container,
#task-attach-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;

	background-color: #ffffff;
	border: 1px solid #ececec;
	border-radius: 6px;
}

.task-details-item-container {
	display: flex;
	padding: 8px;
	justify-content: space-between;
}

.task-details-info-container {
	display: flex;
	gap: 16px;
}

.separator {
	height: 1px;
	background-color: #ececec;
}

textarea#add-note-field {
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 4px;
	padding: 16px;

	height: max(146px);
}

/*! OLD ---------------------- */
/* BASE */
#content,
#section {
	height: 100vh;
}

#section {
	display: none !important;
	max-width: 80%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 40px;
}

/* HEADER */
.header-container {
	display: flex;
	align-items: center;
	gap: 8px;

	padding-top: 40px;
}

.logo {
	height: 30px;
	width: 30px;
}

.header {
	font-size: 20px;
	font-weight: 800;
}

.buttons-section {
	display: flex;
	justify-content: space-between;
}

.dropDown-container {
	display: flex;
	gap: 16px;
}

/* .btn {
	color: #555555;
	font-size: 14px;
	font-family: "Inter", sans-serif;
	padding: 12px 32px;
	border-radius: 4px;
	cursor: pointer;
} */

.drop-Down {
	display: flex;
	align-items: center;
	gap: 12px;
}

.drop-down > img {
	height: 8px;
	width: 14px;
}

.call-to-action {
	background-color: var(--accent-color);
	color: var(--text-accent-color);
	font-weight: 700;
	border: transparent;
}

.call-to-action:hover {
	opacity: 80%;
	cursor: pointer;
}

.task-data-container {
	display: flex;
}

i {
	font-size: 20px;
}

p {
	font-size: 16px;
}

/* TASK ACCORDION */
.task-accordion-info-container {
	display: flex;
	align-items: center;
	gap: 12px;
	padding-bottom: 8px;
}

.task-accordion-info-container:hover {
	opacity: 80%;
	cursor: pointer;
}

.rotate {
	transform: rotate(-90deg);
}

.separator-text,
.counter-text {
	font-size: 14px;
}

.counter-container {
	padding: 4px 12px;
	background-color: #ececec;
	border-radius: 9px;
}

.separator-line {
	width: 100%;
	height: 2px;
	background-color: #ececec;
}

/* LABELS */
.label {
	padding: 4px 12px;
	border: 1px solid #ececec;
	border-radius: 20px;

	display: flex;
	align-items: center;
	gap: 8px;

	background-color: #fcfcfc;
}

.label.completed {
	border: 1px solid #c6ddec;
	color: #c6ddec;
}

.label-icon {
	width: 16px;
	height: 16px;
}

.label-icon.icon-priority {
	font-size: 16px;
}

.label-text {
	font-size: 12px;
	font-weight: 400px;
}

.labels-container {
	display: flex;
	gap: 8px;
}

.label.has-priority {
	color: #ed726f;
}

/* TASK COMPONENT */

.task-details-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.task-icon {
	font-size: 20px;
	width: 20px;
	height: 20px;
}

.task-data-container {
	display: flex;
	gap: 16px;
	padding: 12px 0;
}

.task-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 4px 4px 4px 16px;
	background-color: #ffffff;
}

.task-container:hover {
	background-color: #f7f7f7;
}

.more-details-btn-container {
	height: 75px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 4px;
	padding: 0 12px;
}

.more-details-btn-container:hover {
	background-color: #ececec;
	cursor: pointer;
}

.more-details-btn:hover {
	color: #999999;
}

/* FORMULARIO */
.return-component {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 18px;
	font-weight: 700;
}

.return-component:hover {
	color: #3e92cc;
	text-decoration: underline;
}

.info-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.task-form-container {
	display: flex;
	flex-direction: column;
	gap: 40px;

	padding: 48px 24px;
	background-color: #ffffff;
	border: 1px solid #ececec;
	border-radius: 2px;
	box-shadow: 4px 4px 16px #ececec;
}

/* -> Title and subtasks component */
/* .title-container {
	display: flex;
	gap: 16px;
	padding: 8px 0;

	font-size: 20px;
	font-weight: 600;
} */

#task-title::placeholder {
	color: #999999;
	font-weight: 500;
	line-height: 24px;
}

#task-title {
	border: none;
	width: 100%;
	color: #555555;
}

#task-title:hover {
	cursor: pointer;
	opacity: 80%;
}

#task-title:focus {
	outline: none;
	opacity: 100%;
}

.subtasks-container {
	padding: 0 8px;
}

.subtask-content {
	display: flex;
	gap: 16px;
	padding: 8px;

	color: #3e92cc;
}

.subtask-content:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}

/* -> Task info details component */
.task-info-details-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;

	border: 1px solid #ececec;
	border-radius: 6px;
	background-color: #fff;
}

.info-detail-component-container {
	display: flex;
	align-items: center;
	gap: 16px;

	padding: 8px;
	border-radius: 4px;
}

.info-detail-component-container:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}

.form-icon {
	width: 24px;
	height: 24px;
}

.attach-component {
	padding: 8px;
}

textarea {
	resize: none;
	border: 1px solid #ececec;
	border-radius: 4px;
	padding: 12px 16px;
	color: #555555;
}

textarea::placeholder {
	color: #999999;
	font-weight: 500;
}

textarea:focus {
	outline: none;
	border: 1px solid #3e92cc;
}

/* -> Buttons section */

/* .btn.delete {
	font-weight: 600;
	color: #ed726f;
	text-decoration-line: underline;

	border: none;
	background: none;
} */

.buttons-container {
	display: flex;
	justify-content: space-between;
}

/* .btn.delete:hover {
	opacity: 80%;
} */
